/* General CSS boshlandi */
.for_spans{
  color: #19a852;
}
@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Staatliches;
  src: url("./assets/fonts/Staatliches-Regular.ttf");
}
body {
  margin: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.container-start {
  width: 95%;
  margin: 0 0 0 auto;
}

.btn {
  padding: 13px 95px;
  border-radius: 12px;
  border: #19a852;
  background-color: #19a852;
  color: #fff;
  font-family: "Gilroy";
  font-weight: 600;
  border: 1px solid #19a852;
  font-size: 18px;
  line-height: 22px;
  transition: 0.5s ease;
}

.btn:hover {
  background-color: transparent;
  color: #19a852;
  border: 1px solid #19a852;
}

/* General CSS tugadi */

/* Navbar Css  Start*/

nav {
  width: 100%;
  background: #effef5;
  padding: 10px 0;
}

.navbar img {
  display: inline-block;
  width: 100px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.menubtn {
  border: none;
  background: transparent;
  margin-left: -60px;
  cursor: pointer;
  transition: 0.5s ease;
  color: #193c3f;
  display: none;
}

.navbar ul {
  display: inline-block;
  margin-top: 17px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #193c3f;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #193c3f;
}

.navbar ul li a:hover {
  color: #7219a8;
}

.navbar .phone {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

.navbar .phone img {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  margin-right: 20px;
}

.navbar .phone p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #567763;
  margin-top: 8px;
  margin-bottom: 0;
}

.navbar .phone h1 {
  display: inline-block;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #193c3f;
  margin: 0;
}

.navbar .btnbg {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #193c3f;
  padding: 10px 80px;
  border: 1px solid #19a852;
  border-radius: 10px;
  margin-top: 7px;
  background-color: transparent;
  transition: 0.5s ease;
  cursor: pointer;
}

.navbar .btnbg:hover {
  background-color: #19a852;
  color: #fff;
}

/* Navbar Css End  */

.green {
  color: #19a852;
}

/* Hero section style start  */

#hero {
  padding: 30px 0;
  width: 100%;
  background: #effef5;
  margin-bottom: 120px;
  position: relative;
}

.hero-contents {
  display: grid;
  grid-template-columns: 44% auto;
  grid-template-rows: auto;
}

.hero-first-content {
  padding-right: 12px;
}

.hero-first-content h1 {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 125%;
  color: #193c3f;
}

.hero-first-content .question-section {
  background: #e4fbed;
  border: 1px dashed #abd8c4;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 15px 0;
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.hero-first-content .question-section .undov {
  background-color: #19a852;
  border-radius: 50%;
  padding: 5px 12px;
  margin: 0 10px;
  display: inline-block;
  color: #fff;
}

.hero-first-content .question-section .question {
  font-family: "Gilroy";
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
  color: #34423a;
}

.hero-first-content h2 {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #193c3f;
  border-bottom: 1px dashed #193c3f;
  display: inline-block;
}

.hero-first-content .cashbac {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #567763;
}

.hero-second-content {
  padding-left: 12px;
  position: relative;
}

.hero-second-content .image-right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 741px;
  height: 694px;
}

.hero-second-content .image-right .ellepse {
  width: 612px;
  height: 612px;
  background: linear-gradient(180deg, #d7f0e1 0%, #cde4d6 100%);
  border-radius: 50%;
}

.hero-second-content .image-right .ellepse-under {
  width: 692px;
  height: 693px;
  border: 1px dashed #3cb27f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessons {
  position: absolute;
  top: 86%;
  right: 50px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}

.lesson {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #abd8c4;
  backdrop-filter: blur(15px);
  border-radius: 18px;
  padding: 25px 0 0 0;
  width: 259px;
  height: 151px;
  text-align: center;
}

.lesson h3 {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  margin: 0;
  background: -webkit-linear-gradient(180deg, #19a852 -34.48%, #193c3f 137.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lesson p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

/* Hero section style end  */

/* Teacher styles start */

.teacher-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.teacher-img img {
  width: 589px;
  height: 589px;
}

.text-info__flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-info__top {
  font-size: 24px;
  font-weight: 400;
  font-family: Gilroy;
  line-height: 30px;
  color: #193c3f;
}

.text-info__middle {
  font-size: 60px;
  font-family: Staatliches;
  font-weight: 400;
  line-height: 55px;
  color: #193c3f;
}

.text-info__middle span {
  color: #19a852;
}

.text-info__bottom {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #193c3f;
}

.button-teacher button {
  width: 320px;
  height: 50px;
  padding: 13px, 98px, 13px, 98px;
  background: #19a852;
  border-radius: 12px;
  color: #fff;
  border: none;
}

.text-info__flex img {
  width: 22px;
  height: 15.05px;
}

/* Teacher styles end */

/* FEEDBACK SECTION STYLES START  */

#feedback {
  margin: 130px 0;
}
.all-feedback h1 {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 125%;
  color: #193c3f;
  margin: 20px 0;
}

.comments-first {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 56% 42%);
  grid-template-rows: 300px;
  gap: 2%;
}

.comments-second {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 42% 56%);
  grid-template-rows: 300px;
  gap: 2%;
}

.comment {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #cde5d6;
  box-shadow: 0px 9px 18px rgba(1, 54, 22, 0.12);
  border-radius: 18px;
}

.comment .about-comment-user {
  display: flex;
  align-items: center;
}
.comment .about-comment-user .comimg {
  display: inline-block;
}
.commit .about-comment-user .comimg img {
  width: 83px;
  height: 83px;
}
.comment .about-comment-user .about-name {
  display: inline-block;
  margin-left: 30px;
}

.about-comment-user .about-name h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  margin: 0;

  line-height: 125%;
  color: #193c3f;
}
.about-comment-user .about-name p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #567763;
  margin: 0;
}
.com {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.012em;
  color: #193c3f;
}

/* FEEDBACK SECTION STYLES END  */

/* FOOTER SECTION START  */

.footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  align-items: center;
  background: #effef5;
  padding: 40px 0;
}

.footer h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #193c3f;
}

/* FOOTER SECTION END  */

/* Responsive  start*/

@media (max-width: 768px) {
  /* NAVBAR Responsive START  */
  .navbar img {
    display: inline-block;
    width: 65px;
    height: auto;
  }

  .menubtn {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbtn {
    display: none;
  }

  .navbar .phone img {
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-right: 13px;
    padding: 5px;
  }

  .navbar .phone p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar .phone h1 {
    font-size: 16px;
  }

  /* NAVBAR Responsive end  */

  /* HERO SECTION Responsive START  */
  .btn {
    padding: 13px 0px;
    border-radius: 12px;
    width: 100%;
    margin: 0;
  }
  .hero-contents {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  #hero {
    position: relative;
    padding-bottom: 120px;
  }

  .hero-first-content {
    width: 90%;
    margin: 0 auto;
  }

  .hero-first-content h1 {
    font-size: 32px;
  }

  .hero-first-content .question-section {
    display: grid;
    grid-template-columns: 18% 85%;
    align-items: center;
  }

  .hero-first-content .question-section .undov {
    padding: 3px 10px;
    margin: 0 7px 18px 7px;
  }

  .hero-first-content .question-section .question {
    font-size: 16px;
  }

  .hero-first-content h2 {
    font-size: 20px;
  }

  .hero-second-content {
    padding-right: 12px;
    grid-row-start: 1;
  }

  .hero-second-content .image-right .ellepse-under {
    width: 334px;
    height: 330px;
    border: 1px dashed #3cb27f;
    border-radius: 50%;
    margin-left: -30px;
  }

  .hero-second-content .image-right .ellepse {
    width: 300px;
    height: 302px;
    background: linear-gradient(180deg, #d7f0e1 0%, #cde4d6 100%);
    border-radius: 50%;
  }

  .hero-second-content .image-right img {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 330px;
  }

  .image-right {
    width: 90%;
    margin: 0 auto;
  }

  .lessons {
    position: absolute;
    top: 94%;
    left: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    align-items: center;
  }

  .lesson {
    border-radius: 18px;
    padding: 10px 0 10px 0;
    width: 145px;
    height: 124px;
    text-align: center;
  }

  .lesson h3 {
    font-size: 36px;
    margin: 0;
  }

  .lesson p {
    font-size: 20px;
    margin: 0;
  }

  /* HERO SECTION Responsive END!!  */

  .teacher-box {
    justify-content: space-evenly;
  }
  .teacher-img img {
    width: 335px;
    height: 335px;
  }
  .button-teacher button {
    width: 334px;
    height: 48px;
  }
  .text-info__flex img {
    width: 18px;
    height: 12.32px;
  }
  .text-info__bottom {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
  }
  .text-info__top {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.5px;
  }
  .text-info__middle {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }

  /* FEEDBACK RESPONSIVE STYLE START  */

  .all-feedback h1 {
  font-size: 32px;
}
  .comments-first {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 5%;
}

.comments-second {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 5%;
}
.comment .about-comment-user .about-name {
  display: inline-block;
  margin-left: 12px;
}
.about-comment-user .about-name h2 {
 font-size: 18px;
}

.about-comment-user .about-name p {
  font-size: 14px;
}

.com{
  font-size: 14px;
}
.commit .about-comment-user .comimg img {
  width: 52px;
  height: 52px;
}
/* FEEDBACK RESPONSIVE STYLE END  */


  /* FOOTER RESPONSIVE SECTION START  */

  .footer h1 {
    font-size: 14px;
  }
  /* FOOTER RESPONSIVE SECTION END  */
}

/* Responsive  end*/

/* For_whom boshlandi */
.for_whom {
  margin: 0;
  padding: 0;
}

.kurs_kimlar_uchun {
  width: 75rem;
  padding: 0px 5rem;
  height: 28rem;
}

.for_whom_heading p {
  font-family: Staatliches;
  font-size: 3.75rem;
  font-weight: 400;
  color: #193c3f;
}

.for_whom_heading span {
  color: #19a852;
}

.mini_sections {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.box_ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 1.8rem;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #abd8c4;
}

.box_ellipse img {
  width: 4.3rem;
  height: 4.3rem;
}

.for_whom_box {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  background-color: #effef5;
  width: 24.1rem;
  height: 19rem;
}

.for_whom_text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 125%;
  color: #193c3f;
}

.info_text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #34423a;
  text-align: center;
  margin: 0 1.8rem 1.8rem 1.8rem;
}

.for_whom_btn {
  margin-top: 40px;
}

.for_whom_btn .btn:hover {
  background-color: transparent;
  color: #19a852;
  border: 2px solid #19a852;
}

.join_us {
  margin: 11px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #567763;
}

.green_color1 {
  color: #19a852;
}
@media (min-width: 1441px) {
  .kurs_kimlar_uchun {
    padding: 0px 120px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .for_whom_box {
    width: 20rem;
    height: 16rem;
  }

  .box_ellipse img {
    width: 3rem;
    height: 3rem;
  }

  .box_ellipse {
    margin-top: 1.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #abd8c4;
  }

  .for_whom_text {
    font-size: 1.5rem;
  }

  .info_text {
    font-size: 0.8rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  .kurs_kimlar_uchun {
    width: 65rem;
    padding: 0px 5rem;
    height: 28rem;
  }
  .for_whom_heading p {
    font-size: 3rem;
  }

  .for_whom_btn .btn {
    width: 17.5rem;
    height: 2.5rem;
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 768px) and (max-width: 875px) {
  .for_whom_box {
    width: 11rem;
    height: 7rem;
  }

  .mini_sections {
    display: flex;
    justify-content: space-around;
  }

  .box_ellipse img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .box_ellipse {
    margin-top: 0.4rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
  }
  .for_whom_text {
    font-size: 0.55rem;
  }

  .info_text {
    font-size: 0.45rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  .kurs_kimlar_uchun {
    width: 40rem;
    padding: 0px 3rem;
    height: 28rem;
  }
  .for_whom_heading p {
    font-size: 1.5rem;
  }

  .for_whom_btn .btn {
    width: 10rem;
    height: 1.8rem;
    padding: 0.3rem 1rem;
    font-size: 11px;
  }

  .join_us {
    font-size: 8px;
  }

  .for_whom_btn {
    margin-top: 25px;
  }


@media (min-width: 876px) and (max-width: 1024px) {
  .for_whom_box {
    width: 13rem;
    height: 9rem;
  }

  .mini_sections {
    display: flex;
    justify-content: space-around;
  }

  .box_ellipse img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .box_ellipse {
    margin-top: 0.6rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
  }

  .for_whom_text {
    font-size: 0.7rem;
  }

  .info_text {
    font-size: 0.5rem;
    margin: 0 0.6rem 0.6rem 0.6rem;
  }

  .kurs_kimlar_uchun {
    width: 48rem;
    padding: 0px 2.5rem;
    height: 28rem;
  }
  .for_whom_heading p {
    font-size: 1.7rem;
  }

  .for_whom_btn .btn {
    width: 12rem;
    height: 2.2rem;
    padding: 0.5rem 1.2rem;
    font-size: 13px;
  }

  .join_us {
    font-size: 10px;
  }

  .for_whom_btn {
    margin-top: 25px;
  }
}

/* For_whom tugadi */
      @media (min-width: 876px) and (max-width: 1024px) {
        .for_whom_box {
          width: 13rem;
          height: 9rem;
        }
        
        .mini_sections{
          display: flex;
          justify-content: space-around;
        }
  
        .box_ellipse img {
          width: 1.6rem;
          height: 1.6rem;
        }
      
        .box_ellipse {
          margin-top: 0.6rem;
          width: 2.7rem;
          height: 2.7rem;
          border-radius: 50%;
          }
      
          .for_whom_text {
            font-size: 0.7rem;
            }
            
            .info_text {
            font-size: 0.5rem;
            margin: 0 0.6rem 0.6rem 0.6rem;
            }
      
            .kurs_kimlar_uchun{
              width: 48rem;
              padding: 0px 2.5rem;
              height: 28rem;
            }
            .for_whom_heading p {
              font-size: 1.7rem;
            }
      
            .for_whom_btn .btn {
              width: 12rem;
              height: 2.2rem;
              padding: 0.5rem 1.2rem ;
              font-size: 13px;
            }
  
            .join_us {
              font-size: 10px;;
          }
  
          .for_whom_btn  {
            margin-top: 25px;
          }
  
        }

        @media (min-width:769px) and (max-width:875px) {
          .for_whom_box {
            width: 10rem;
            height: 7rem;
          }
          
          .mini_sections{
            display: flex;
            justify-content: space-around;
          }
    
          .box_ellipse img {
            width: 1.3rem;
            height: 1.3rem;
          }
        
          .box_ellipse {
            margin-top: 0.4rem;
            width: 2.3rem;
            height: 2.3rem;
            border-radius: 50%;
            }
        
            .for_whom_text {
              font-size: 0.5rem;
              }
              
              .info_text {
              font-size: 0.4rem;
              margin: 0 0.4rem 0.4rem 0.4rem;
              }
        
              .kurs_kimlar_uchun{
                width: 40rem;
                padding: 0px 2.1rem;
                height: 23rem;
              }
              .for_whom_heading p {
                font-size: 1.5rem;
              }
        
              .for_whom_btn .btn {
                width: 9rem;
                height: 2rem;
                padding: 0.3rem 1rem;
                font-size: 10px;
              }
    
              .join_us {
                font-size: 8px;;
            }
    
            .for_whom_btn  {
              margin-top: 22px;
            }
        }

        @media (min-width:480px) and (max-width:768px) {
          .for_whom{
            width: 768px;
          }
          .mini_sections {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: column  wrap;
          }

          .kurs_kimlar_uchun{
            height: 80rem;
            padding: 0 6.5rem;
          }

          .for_whom_btn {
            display: flex;
            flex-flow: column wrap;
          }

          .for_whom_btn .btn {
            margin: 0 2rem;
            width: 20rem;
          }

          .join_us {
            margin: 1rem -1.5rem ;
          }

          .for_whom_box {
            margin-top: 25px;
            /* height: 17rem; */
            }

            .for_whom_heading p {
              font-family: Staatliches;
              font-size: 3.3rem;
              font-weight: 400;
              color: #193C3F;
            }
          }
        
          @media (min-width:320px) and (max-width:479px) {
            
            
            .mini_sections {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-flow: column  wrap;
            }
  
            .kurs_kimlar_uchun{
              height: 80rem;
              padding: 0 0rem;
              margin: 0 1.8rem;
            }
  
            .for_whom_btn {
              display: flex;
              flex-flow: column wrap;
              margin: 1rem 1.4rem;
            }
  
            .for_whom_btn .btn {
              margin: 0 0rem;
              width: 20rem;
            }
  
            .join_us {
              margin: 1rem -0.8rem ;
              font-size: 0.7rem;
            }
  
            .for_whom_box {
              margin-top: 25px ;
              width: 19rem;
              height: 12rem;
              }
  
              .for_whom_heading p {
                font-size: 2.5rem;
              }
              

              .box_ellipse img {
                width: 2rem;
                height: 2rem;
              }
            
              .box_ellipse {
                margin-top: 1.2rem;
                width: 3.5rem;
                height: 3.5rem;
                }
            
                .for_whom_text {
                  font-size: 1.1rem;
                  }
                  
                  .info_text {
                  font-size: 0.5rem;
                  margin: 0 1.2rem 1.2rem 1.2rem;
                  } 
            }

    
    
    
    
    /* For_whom tugadi */
    /* extra__chance boshlandi */
    .extra__chance{
      display: flex;
      margin:5rem 7.5rem
    }
    .chence__text> h2,.apply__me> h2{
    font-family: Staatliches;
    font-size: 3.75rem;
    font-weight: 400;
    width: 39.5rem;
    line-height: 125%;
    }
    .chence__text{
      width: 32rem;
      padding-left: 3.5rem;
    }
    .chence__text> p{
    width: 37.5rem;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    }
    .apply__me{
      margin:5rem 7.5rem
    }   
    .varnning{
      display: flex;
    }
    .varnning> p{
      margin-left: 0.75rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    }
    .apply__me> p{
      width: 38.6rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    }
    .form__info{
      box-sizing: border-box;
      height: 3rem;
      width: 536px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    .form__info> input{
      width: 498px;
      align-items: center;
      padding: 13px 18px;
      height: 48px;
      background: #EFF5F2;
      border: 1px solid #B1CBBB;
      border-radius: 12px;

    }
    .apply__right{
      position: relative;
      left: 771px;
      top: -343px;
    }
    .apply__right> img:nth-child(2){
      position: relative;
      top: 7.5rem;
    }
    /* extra__chance tugadi */
  }