/* General CSS boshlandi */

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Staatliches;
  src: url("./assets/fonts/Staatliches-Regular.ttf");
}

/* General CSS tugadi */
